venv/
__pycache__/
*.pyc

# Ignore output charts
outputs/*.png

# Ignore cleaned data (we only want raw data in git, or maybe ignore all data if large)
data/bird_data_clean.csv
data/*.db
# If you don't want to upload the 1MB excel files to github, uncomment below:
# data/*.XLSX
